html {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}

body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	position: relative;
	font-family: 'Roboto';
}

.PhosphateRRInline {
	font-family: PhosphateRRInline;
	font-weight: lighter;
	color: #006C90;

}

.sc{
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	z-index: 10;
}

.sc.selected{
	display: block;
	z-index: 11;
}

#home{
	background-image: linear-gradient(135deg, rgba(31,194,173,0.10) 0%, #20C2AE 100%);
}

.map {
	width: 100%;
	height: 100%;
	border: none;
}

.navbar {
	position: fixed;
	z-index: 12;
	bottom: 0;
	height: 45px;
	width: 100%;
	background: #fff;
	margin: 0;
	padding: 0;
}

.navbar li {
	list-style: none;
	width: 33.33%;
	float: left;
}

.left {
	margin-top: 10.5px;
	padding-left: 10.5px;
	text-align: left;

}

.center {
	text-align: center;
	margin-top: -27px;
	margin-left: -10.5px;
	margin-right: -10.5px;
}

.center img {
	width: 72px;
	bottom: 0;
}

.right {
	margin-top: 8px;
	padding-right: 10.5px;
	text-align: right;
}

#adventure-list,
#profiles,
#start,
#player-choice, 
#avatar-choice,
#avatar-edit,
#video-choice,
#profile-details {
	margin-top: 0;
	margin-bottom: 8px;
	margin-left: 8px;
	margin-right: 8px;
	width: calc(100% - 36px);
	height: calc(90% - 36px);
	bottom: 0;
	border: 2px solid #20C2AE;
	border-radius: 12px;
	padding: 8px;
	background: linear-gradient(131.49deg, rgba(255,255,255,0.72) 0%, #FFFCF8 100%);
}

#profile-details {
	height: calc(67% - 36px);
}

#player-onboard, #player-onboard2, #player-onboard3, #player-onboard4, #pop-nav {
	bottom: 77px;
	background-color: rgba(0,0,0,0.3);
	animation: fadein 1.5s;
	-moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}

.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    height: 96px;
    width: 375px;
    bottom: -96px;
    z-index: 100;
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}

.ad-list-header,
.profiles-header {
	position: fixed;
	height: 65px;
	width: calc(100% - 36px);
	background: linear-gradient(131.49deg, rgba(255,255,255,0.72) 0%, #FFFCF8 100%);
	z-index: 13;
}

.close {
	float: right;
	height: 20px;
	width: 20px;
}

h1 {
	font-size: 64px;
	text-align: center;
	line-height: 44px;
	padding: 12px;
	color: #006C90;
	margin: 0;
}

.ad-list-locations,
.profiles-list {
	position: relative;
	margin-top: 65px;
	overflow-y:scroll;
    max-height: calc(100% - 65px);
	width: 100%;
	z-index: 14;
}

.location-container,
.profile-row {
	padding:8px;
	background: #FFFFFF;
	border-top: 1px solid gray;
	height: 80px;
	width: calc(100% - 16px);
}

.location-container img {
	float: left;
	border-radius: 5px;
}

.location-details {
	float: left;
	margin-left: 12px;
}

p {
	font-size: 12px;
	color: #304860;
	margin: 0;
	padding: 0;
	margin-bottom: 12px;
}

.profile-row {
	height: 126px;
}

.profile-container,
.character-details {
	margin-top: 6px;
	width: 33.33%;
	text-align: center;
	float: left;
}

.profile-container img {
	height: 65px;
}
.back-left {
	text-align: left;
	margin-left: 12px;
	margin-top: 13px;
}

.prize-right {
	text-align: right;
	margin-right: 2px;
	margin-top: 0;
}

.back-prize {
	width: 12%;
}

.center-monster {
	width: 70%;
	margin-top: -140px;
}

.center-text {
	width: 70%;
}

.back-button {
	height: 21px;
}

.prize-button {
	height: 36px;
}

.edit-button {
	margin-top: 15px;
	margin-right: -10px;
	height: 15px;
}

.monster-icon {
	height: 183px;
}


h2 {
	font-size: 48px;
	margin: 0;
}
h3{
	font-size: 36px;
	text-align: center;
	line-height: 44px;
	padding: 12px;
	color: #006C90;
	margin: 0
}
h4 {
	font-size: 18px;
	margin: 0;
}
h5 {
	font-size: 14px;
	margin: 0;
}
h6 {
	margin-top: 26px;
	margin-bottom: 26px;
}
.size-emphasis,
.points-number,
h6 {
	font-size: 20px;
}

.points-number {
	line-height: normal;
	padding: 0;
}

.light {
	font-weight: 100;
}

.center-points {
	border-left: 1px solid #979797;
	border-right: 1px solid #979797;
}

.points-number {
	color: #006C90;
}


.hide img {
	display: none;
}

#start {
	height: calc(67.5% - 24px);
}

.logo {
	text-align: center;
	height: 110px;
}

.logo img {
	height: 250px;
	margin-top: -140px;
}

.next {
	position: absolute;
    height: 25px;
    width: 55px;
    right: 73px;
    margin-top: 250px;
}

.nexttwo {
    position: absolute;
    height: 25px;
    width: 55px;
    right: 75px;
    margin-top: 281px;
    z-index: 120;
}

.nextthree {
    position: absolute;
    height: 25px;
    width: 55px;
    right: 75px;
    margin-top: 281px;
    z-index: 120;
}

.nextfour {
    position: absolute;
    height: 25px;
    width: 55px;
    right: 83px;
    margin-top: 280px;
    z-index: 120;
}
.onboard {
	height: 667px;
	width:375px;
}

.onboard img {
	width: 100%;
	height: auto;
	margin-top: 120px;
	    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.ontwo img {
	position: absolute;
    margin-top: 150.5px;
    z-index: 115;
}

.onthree img {
    position: absolute;
    z-index: 115;
    margin-top: 104px;
}

.onfour img {
    position: absolute;
    margin-top: 150px;
    z-index: 115;
    left: -9px;
}
.cardtitle {
	text-align: center;
	margin-top: 10px;
	padding: 12px;
	line-height: 59px;
	color: #006C90;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	height: 179px;
}

.change {
	margin-top: 0px;
	padding: 0px;
	height: 43px;
}

.cardbody {
	text-align: center;
	margin-top: 10px;
	padding: 12px;
	line-height: 59px;
	color: #006C90;
	height: 179px;
}

.startbtn {
	height: 110px;
	text-align: center;
}

.startbtn img {
	margin-top: 40px;
	height: 72px;
}

.editbtn img {
		margin-top: 20px;
}

.contbtn img {
	margin-top: 250px;
}

.player-header {
	border: none;
}

.player1{
	border-bottom: 1px solid gray;
}

.player-carousel {
	position: relative;
	height: 265px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	text-align: center;
}

.arrow-next {
	height: 60px;
	float: right;
	margin-top: 75px;
	margin-right: 10px;
}
.arrow-prev {
	height: 60px;
	float: left;
	margin-top: 75px;
	margin-left: 10px;
}

.arrow-edit {
	display: none;
}

.slide{
	height: 158px;
 	display: none;
 	margin-top: 35px;
}

.active-slide{
   	display: inline; 
}

.special-height {
	height: 200px;
 	margin-top: 18.5px;
}

.checked {
	content: url('images/monster_check.png');
	
}

.unchecked {
	content: url('images/monster_text.png');
}

/*https://coolestguidesontheplanet.com/videodrome/youtube/*/
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.popup img {
    position: absolute;
    width: calc(100% - 100px);
    bottom: 300px;
    left: 50px;
}


/*"http://scotch.io/tutorials/css/google-material-design-input-boxes-in-css3"*/
/* form starting stylings ------------------------------- */
.group            { 
  position:relative;
  margin-top: 25px; 
  margin-bottom:25px; 
}
input, .datepicker {
	font-family: 'Roboto';
	color: #999;	
	font-size:18px;
	padding:17px 10px 4px 5px;
	display:block;
	width:300px;
	border:none;
	border-bottom:1px solid #20C2AE;
}
input:focus         { outline:none; }

/* LABEL ======================================= */
label                {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:0px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label        {
  top:-25px;
  font-size:14px;
  color:#006C90;
}

/* BOTTOM BARS ================================= */
.bar    { position:relative; display:block; width:315px; }
.bar:before, .bar:after     {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#20C2AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

.character {
	height: 51px;
	position: relative;
}

.none {
	margin-top: 1px;
}

.erik-martin {
	line-height: normal;
	padding: 0;
}

.bottom-border {
	border-bottom: 1px solid #304860;
}

.points {
	height: 84px;
	border-bottom: 1px solid #304860;
	padding-top: 12px;
	padding-bottom: 12px;
}

.points h4 {
	text-align: center;
	padding-bottom: 8px;
	color: #006C90;
}

.points-container {
	width: 33%;
	text-align: center;
	float: left;
}

.keystones-prizes {
	height: 200px;
}

.keystones-prizes-container {
	margin-top: 40px;
	width: 49.5%;
	text-align: center;
	float: left;
}

.keystones-prizes-container h4,
.keystones-prizes-container h6 {
	color: #006C90;
}

.keystones-prizes-container.border-left h4,
.keystones-prizes-container.border-left h6 {
	color: #F8595A;
}

.border-left {
	border-left: 1px solid #979797;
}

.art-info {
	position: relative;
	height: 667px;
	width:375px;
	bottom: 580px;
}

.art-info img {
    width: 100%;
    height: auto;
    
}

.gmaps {
    position: relative;
    height: 667px;
    width: 375px;
    bottom: 667px;
}

.gmaps img{
    width: 100%;
    height: auto;
}

.xicon {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    right: 15px;
}

.mapsback{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 28px;
    left: 5px;
}

.getthere {
    position: absolute;
    width: 94px;
    height: 25px;
    top: 50px;
    right: 15px;
}

.letsgo {
    position: absolute;
    width: 94px;
    height: 25px;
    bottom: 25px;
    left: 140px;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#20C2AE; }
  to    { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#20C2AE; }
  to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#20C2AE; }
  to    { width:0; background:transparent; }
}

@media(max-width: 375px) {
	.startbtn img {
		margin-top: 20px;
	}

.editbtn img {
		margin-top: 20px;
	}

.contbtn img {
	margin-top: 215px;
}

	.player-carousel {
		height: 241px;
	}
	.override{
		height: 198px;
	}
}	

@media(max-width: 354px) {
	h1 {
		font-size: 34px;
	}
	p {
		font-size: 10px;
		margin-bottom: 20px;
	}
}

@media(max-width: 320px) {
	.logo {
		height: 93.72px;
	}

	.logo img {
		margin-top: -160px;
	}

	.onboard {
		height: 93.72px;
	}

	.onboard img {
		margin-top: -160px;
	}

	.cardtitle {
		height: 152.39px;
		line-height: normal;
	}


	.startbtn {
		height: 93.66px;
	}

	.startbtn img {
		margin-top: 10px;
		height: 61.28px;
	}

	.player-carousel {
		height: 205.22px;
	}

}